@import 'foundation-settings';
@import 'foundation';

.flex-advantages-container {
  @media #{$large-up} {
    width: 100%;
    display: block;
    flex-wrap: nowrap;
    justify-content: space-between;
    .inner-flex {
      display: block;
      float: left;
      width: 28%;
      flex-wrap: nowrap;
      align-items: center;
      padding-top: 32px;
      padding-bottom: 32px;
      &.small{
        width: 22%;
      }
    }
  }
}

input.error{
  border-left: 5px solid #ff5b19!important;
}