/*
  Вынес из googlefonts т.к. у юзвери шрифт Roboto может быть установлен
  в системе, но вот какой - непонятно.
*/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/RobotoBold.eot');
  src: url('fonts/RobotoBold.eot') format('embedded-opentype'),
  url('fonts/RobotoBold.woff2') format('woff2'),
  url('fonts/RobotoBold.woff') format('woff'),
  url('fonts/RobotoBold.ttf') format('truetype'),
  url('fonts/RobotoBold.svg#RobotoBold') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/RobotoLight.eot');
  src: url('fonts/RobotoLight.eot') format('embedded-opentype'),
  url('fonts/RobotoLight.woff2') format('woff2'),
  url('fonts/RobotoLight.woff') format('woff'),
  url('fonts/RobotoLight.ttf') format('truetype'),
  url('fonts/RobotoLight.svg#RobotoLight') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/RobotoMedium.eot');
  src: url('fonts/RobotoMedium.eot') format('embedded-opentype'),
  url('fonts/RobotoMedium.woff2') format('woff2'),
  url('fonts/RobotoMedium.woff') format('woff'),
  url('fonts/RobotoMedium.ttf') format('truetype'),
  url('fonts/RobotoMedium.svg#RobotoMedium') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/RobotoRegular.eot');
  src: url('fonts/RobotoRegular.eot') format('embedded-opentype'),
  url('fonts/RobotoRegular.woff2') format('woff2'),
  url('fonts/RobotoRegular.woff') format('woff'),
  url('fonts/RobotoRegular.ttf') format('truetype'),
  url('fonts/RobotoRegular.svg#RobotoRegular') format('svg');
}