.form-big-box {
  .form-big-content {
    width: 100%;
    &:after {
      content: "";
      display: block;
      width: 100%;
      clear: both;
    }
    fieldset {
      margin: 0;
      float: left; /*fix for  buggy browsers*/
      width: 28%;
      min-width: 280px;
      padding-right: 20px;
      box-sizing: border-box;
      margin-bottom: 32px;
      border: none;

      @media #{$small-only} {
        width: 100%;
        padding-right: 0px;
        min-width: 100px;
      }

      @media #{$medium-only} {
        width: 50%;
        box-sizing: border-box;
        border: none;
        margin-left: 0;
        margin-right: 0;
        min-width: 210px;
        &:nth-child(2n-1) {
          padding-right: 24px;
        }
      }

      @media #{$large-to-medium} {
        width: 33%;
        button {
          width: 100%;
        }
      }

      &.submit-zone {
        width: 40%;
        margin-right: 0;
        margin-bottom: 0;
        @media #{$small-only} {
          width: 100%;
          margin-bottom: 0px;
        }

        @media #{$medium-only} {
          width: 50%;
          margin-bottom: 0;
          button {
            width: 100%;
            box-sizing: border-box;
            float: none;
          }
          p {
            width: 100%;
            margin-top: 55px;
            float: none;
          }
        }

        @media #{$large-to-medium} {
          width: 33%;
          margin-bottom: 0px;
          p {
            padding-top: 60px;
          }
        }

        button {
          float: left;
          margin-right: 15px;
          @media #{$small-only} {
            float: none;
            margin-right: 0px;
            width: 100%;
          }

        }

        p {
          font-size: 16px;
          font-weight: 300;
          @media #{$small-only} {
            margin-top: 12px;
            text-align: center;
          }

        }
      }
      input {
        width: 100%;
        @media #{$small-only} {
          width: 100%;
          box-sizing: border-box;
        }
        @media #{$medium-only} {
          width: 100%;
        }
      }
    }
  }
}

#popup-tell-my{
  width: 380px;
  @media #{$small-only} {
      width: 100%;
  }

}
.form-tell-my-content {
  width: 100%;
  &:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
  }
  fieldset {
    margin: 0px;
    width: 100%;
    min-width: 280px;
    padding-right: 20px;
    box-sizing: border-box;
    margin-bottom: 28px;
    border: none;

    &.submit-zone {
      width: 100%;
      margin-bottom: 0px;
      button {
        display: block;
        margin: 0 auto;
        padding: 17px 70px;
      }

      p {
        font-size: 16px;
        font-weight: 300;
        @media #{$small-only} {
          margin-top: 12px;
          text-align: center;
        }
      }
    }
    input {
      width: 100%;
    }
  }

}

.js-popup {
  &#popup-order {
    min-width: 640px;
    @media #{$small-only} {
      min-width: 100%;
    }
  }
  &#popup-thank {
    max-width: 400px;
    width: 400px;
    @media #{$small-only} {
      width: 100%;
      max-width: 100%;
    }

  }
}

.form-big-content-popup {
  width: 100%;
  &:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
  }
  fieldset {
    margin: 0;
    padding-right: 20px;
    box-sizing: border-box;
    border: none;
    margin-bottom: 24px;
    &:nth-child(2n-1) {
      padding-right: 24px;
      @media #{$small-only} {
        padding-right: 0px;
      }

    }
    &.full {
      padding-right: 0px;
    }

    button {
      width: 100%;
      float: left;
      margin-right: 15px;
    }
    p {
      font-size: 16px;
      font-weight: 300;
      padding-left: 12px;
      text-align: left !important;
    }

    input {
      width: 100%;
    }
  }
}