//Кодировка
@charset 'utf-8';
@import 'foundation-app';

$color-primary: #324375;
$color-secondary: #777;
$color-success: #3adb76;
$color-warning: #ffae00;
$color-alert: #ec5840;

@import 'fonts.scss';

@import 'components/js-popup.scss';
@import 'components/js-design-labels.scss';

@import 'sprite.scss';
@import 'tg-base.scss';
@import 'tg-buttons.scss';
@import 'forms.scss';


.menu-fixed {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 800;
  width: 100%;
  background-color: white;
  box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.14);
  height: 89px;
  @media #{$small-only} {
    height: 50px;
  }

  .logo {
    padding-top: 11px;
    min-width: 172px;
    float: left;
    @media #{$small-only} {
      display: none;
      width: 86px;
      min-width: 86px;
    }
  }

  .logo-mobile {
    display: none;
    width: 100px;
    padding-top: 10px;
    @media #{$small-only} {
      display: block;
    }
  }

  nav {
    padding-top: 32px;
    padding-left: 12px;
    float: left;
    @media #{$large-to-medium} {
      padding-left: 6px;
    }
    @media #{$medium-only} {
      display: none;
    }
    @media #{$small-only} {
      display: none;
    }
    a {
      font-size: 16px;
      margin: 0px 9px;
      border-bottom: 1px dashed #98a1ba;
      @media #{$large-to-medium} {
        font-size: 14px;
        margin: 0px 5px;
      }
      &:hover {
        color: black;
        border-bottom: none;
      }
      &:active {
        color: #ff5b19;
      }
      &:first-child {
        margin-left: 0px;
      }
      &:last-child {
        margin-right: 0px;
      }
    }

  }
  .menu-fixed-working-hours {
    float: right;
    padding-right: 36px;
    padding-top: 21px;
    text-align: right;
    @media #{$small-only} {
      display: none;
    }

    p {
      display: table;
      width: 100%;
      height: 21px;
      margin-bottom: 8px;
      span {
        display: table-cell;
        vertical-align: bottom;
        text-align: right;
        font-size: 14px;
        line-height: 14px;
      }
    }
  }

  .menu-fixed-phone {
    float: right;
    padding-top: 21px;
    text-align: right;
    @media #{$small-only} {
      padding-top: 16px;
    }

    p {
      display: table;
      width: 100%;
      height: 21px;
      margin-bottom: 8px;
      span {
        display: table-cell;
        vertical-align: bottom;
        text-align: right;
        font-size: 21px;
        line-height: 21px;
        font-weight: bold;
        a {
          font-size: 21px !important;
          color: #0a0a0a !important;
          text-decoration: none !important;
        }
      }
    }
    button {
      @media #{$small-only} {
        display: none;
      }
    }
  }
}

.first-screen {
  background-image: url("images/bg-first-screen.jpg");
  background-position: top center;
  padding-top: 163px;
  @media #{$small-only} {
    background-image: url("images/mobile-bg-first-screen.jpg");
    padding-top: 90px;
  }
}


.first-screen-headlines {
  padding-bottom: 36px;
  @media #{$medium-only} {
    padding-bottom: 12px;
  }
  @media #{$small-only} {
    padding-bottom: 12px;
  }

}

.first-screen-order {
  padding-bottom: 54px;
  p {
    color: white;
    font-size: 16px;
    line-height: 21px;
    padding-top: 13px;
    margin-bottom: 0px;
  }
}

.advantages-box {
  width: 100%;
  &.blue-bk {
    background-color: rgba(33, 47, 80, 0.7);
  }
  .column:not(.row) {
    padding-top: 54px;
    padding-bottom: 34px;
  }
  p {
    color: white;
    white-space: nowrap;
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
  span {
    color: white;
    font-size: 16px;
    font-weight: normal;
  }
  .icon {
    float: left;
    margin-right: 16px;
    @media #{$medium-only} {

    }

  }
}

.flex-advantages-container {
  width: 100%;
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  @media #{$medium-only} {
    display: block;
    width: 550px;
    margin: 0 auto;
  }
  @media #{$small-only} {
    display: block;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .inner-flex {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    @media #{$medium-only} {
      display: block;
      float: left;
      width: 330px;
      padding-top: 16px;
      padding-bottom: 16px;
      &.small {
        width: 215px;
      }
    }
    @media #{$small-only} {
      display: block;
      width: 290px;
      margin: 0 auto;
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
}


.stages-screen {
  .stages-box {
    .column {
      padding-left: 0px;
      padding-bottom: 24px;
    }

    p {
      font-size: 16px;
      line-height: 22px;
    }
  }
}

.blue-border {
  border: 2px solid #0054a6;
  padding: 14px !important;
  box-shadow: 0 19px 20px -10px rgba(198, 93, 56, .39);
}

.tariff-starting-screen {
  margin-bottom: 117px;
  @media #{$medium-only} {
    margin-bottom: 68px;
  }
  @media #{$small-only} {
    margin-bottom: 32px;
  }

  h4.descr {
    font-size: 21px;
    line-height: 28px;
    font-weight: 300;
    span {
      display: inline-block;
      background-color: #ff5b19;
      color: white;
      padding: 2px 7px;
      border-radius: 3px;
    }
  }
  h5 {
    font-size: 16px;
    line-height: 16px;
    font-weight: 300;
  }
  .tariff-starting-info-screen {
    margin-top: 24px;

    h4 {
      font-size: 29px;
      line-height: 29px;
    }
  }
}

.form-big-screen {
  background-color: #2b5677;
  background: #2b5677; /* Old browsers */
  background: -moz-linear-gradient(45deg, #2b5677 10%, #2980b9 90%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #2b5677 10%, #2980b9 90%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #2b5677 10%, #2980b9 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b5677', endColorstr='#2980b9', GradientType=1); /* IE6-9 fallback on horizontal gradient */
  padding-bottom: 83px;

  h3 {
    color: white;
    padding-top: 83px;
    margin-bottom: 0px;
    @media #{$medium-only} {
      padding-top: 48px;
    }
    @media #{$small-only} {
      padding-top: 24px;
    }
  }
  .form-big-box {
    box-shadow: 0 19px 20px -10px rgba(0, 0, 0, .32);
    background-color: white;
    padding: 40px;
    padding-bottom: 20px;
    padding-right: 0px;
    border-radius: 3px;
    margin-top: 12px;
    @media #{$small-only} {
      padding: 12px;
    }
    @media #{$medium-only} {
      padding: 24px;
    }

    h4 {
      font-size: 26px;
      margin-bottom: 28px;
      font-weight: 600;
      span {
        display: inline-block;
        padding: 2px 7px;
        color: white;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        background-color: #ff5b19;
        @media #{$small-only} {
          height: 40px;
          background-image: url("images/underscore.png");
          background-color: transparent;
          padding: 0;
          color: black;
          background-repeat: no-repeat;
          background-position: 0 bottom;
        }

      }
    }
  }
}