.spr-man {
  background-image: url("images/sprite-icon.png");
  background-position: 0px 0px;
  width: 44px;
  height: 44px;
}

.spr-time {
  background-image: url("images/sprite-icon.png");
  background-position: 0px -44px;
  width: 44px;
  height: 44px;
}

.spr-doc {
  background-image: url("images/sprite-icon.png");
  background-position: 0 -88px;
  width: 44px;
  height: 44px;
}

.spr-star {
  background-image: url("images/sprite-icon.png");
  background-position: 0px -132px;
  width: 44px;
  height: 44px;
}