h1 {
  color: white;
  text-align: center;
  margin-bottom: 16px;
  @media #{$large-to-medium} {
    font-size: 44px;
  }
}

h2 {
  color: white;
  text-align: center;
  @media #{$large-to-medium} {
    font-size: 24px;
  }
  span {
    display: inline-block;
    height: 40px;
    @media #{$medium-only} {
      height: 34px;
    }
    @media #{$small-only} {
      height: 31px;
    }
    background-image: url(/local/templates/.default/images/underscore.png);
    background-repeat: no-repeat;
    background-position: 0px bottom;
  }
}

h3 {
  padding-top: 71px;
  margin-bottom: 33px;
  color: #324375;
  font-weight: 300;
  @media #{$small-only} {
    padding-top: 58px;
    margin-bottom: 14px;
  }
}

h4{
  font-weight: 500;
}

ul {
  list-style-image: url("images/ic-bullet.png");
  list-style-position: outside;
  li {
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 10px;
    font-weight: 300;
  }
}