button {
  &.link-blue {
    display: block;
    color: #324375;
    font-size: 14px;
    background-color: transparent;
    border-bottom: 1px dashed #98a1ba;
    outline: none;
    &:hover {
      border: none;
      color: black;
    }
  }
  &.link-orange {
    display: block;
    color: #ff4719;
    font-size: 14px;
    background-color: transparent;
    border-bottom: 1px dashed #ffa38c;
    outline: none;
  }
  &.btn-orange {
    background-color: #ff5b19;
    color: white;
    border-radius: 2px;
    font-size: 16px;
    padding: 17px 50px;
    &:hover {
      background-color: #ff510b;
    }
  }
  &.orange-full {
    width: 100%;
    background-color: #ff5b19;
    box-shadow: 0px 19px 20px -10px rgba(0, 0, 0, .32);
    font-size: 27px;
    line-height: 64px;
    color: white;
    border-radius: 5px;
    border: 2px solid white;
    outline: none;
    transition: all 0.2s;
    &:hover {
      background-color: #ff510b;
    }
  }
}