form.js-design-labels {
  margin-top: 20px;
  fieldset {
    position: relative;
    border: none;
    padding: 0;
    &.focused {
      label {
        font-size: 12px;
        top: -16px;
        left: 0px;
      }
    }
  }
  label {
    position: absolute;
    font-size: 17px;
    top: 13px;
    left: 20px;
    transition: all ease-in 0.2s;
  }
  input {
    display: block;
    width: 100%;
    padding: 16px 8px;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 300;
    line-height: 1;
    background: rgba(255, 255, 255, 0.97);
    color: #212121;
    outline: 0;
    appearance: none;
    transition: all 0.2s ease-in-out;
    height: 50px;
    background-color: #ebebeb;
    border: 1px solid #ebebeb;
    &:focus {
      background-color: white;
      border: 1px solid #ff4719;
      font-weight: 600;
    }
    &.error {

    }
  }
}