.js-call-popup{
  cursor: pointer;
}

#js-popup-wrapper {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 24500;
  width: 100%;
  height: 150%;
  background-color: rgba(0, 0, 0, 0.5);
}

.js-popup {
  display: none;
  position: fixed;
  max-width: 100%;
  min-width: 380px;
  max-height: 100%;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 24600;
  margin: 0 auto;
  height: auto;
  padding: 0px!important;
  overflow-y: auto;

  @media #{$small-only} {
      background-color: white;
      min-width: 100%;
  }


  .js-popup-content{
    background-color: white;
    max-height: inherit;
    max-width: inherit;
    overflow-y: auto;
    padding: 45px;
    @media #{$small-only} {
      margin-top: 48px;
      border-top: 1px solid #f3f3f3;
    }
    h4{
      font-weight: 600;
      font-size: 26px;
      text-align: center;
      margin-bottom: 12px;
      line-height: 28px;
      &.left{
        text-align: left;
      }
    }
    p{
      text-align: center;
      margin-bottom: 0px;
      &.phone{
        font-size: 30px;
      }
    }
    button{
      &.js-popup-close{
        margin-top: 12px;
        margin: 0 auto;
        display: block;
        padding: 17px 80px;
      }
    }
  }

  .popup-close {
    display: block;
    float: right;
    width: 38px;
    height: 38px;
    cursor: pointer;
    background-image: url("images/ic-popup-close.png");
    position: absolute;
    top: 5px;
    right: 5px;
    @media #{$small-only} {
      position: relative;
      background-image: url("images/mobile-ic-popup-close.png");
      right: 0;
      top: 0;
      width: 48px;
      background-repeat: no-repeat;
      height: 43px;
      background-position: top right;
      background-color: white;
    }

  }
  &:after {
    content: " ";
    display: block;
    width: 100%;
    float: none;
    clear: both;
  }
}