@charset 'UTF-8';
/**
 * Foundation for Sites by ZURB
 * Version 6.2.4
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
   * 1. Set default font family to sans-serif.
   * 2. Prevent iOS and IE text size adjust after device orientation change,
   *    without disabling user zoom.
   */
html
{
    font-family: sans-serif;
    /* 1 */

        -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

/**
   * Remove default margin.
   */
body
{
    margin: 0;
}

/* HTML5 display definitions
     ========================================================================== */
/**
   * Correct `block` display not defined for any HTML5 element in IE 8/9.
   * Correct `block` display not defined for `details` or `summary` in IE 10/11
   * and Firefox.
   * Correct `block` display not defined for `main` in IE 11.
   */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary
{
    display: block;
}

/**
   * 1. Correct `inline-block` display not defined in IE 8/9.
   * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
   */
audio,
canvas,
progress,
video
{
    display: inline-block;
    /* 1 */

    vertical-align: baseline;
    /* 2 */
}

/**
   * Prevent modern browsers from displaying `audio` without controls.
   * Remove excess height in iOS 5 devices.
   */
audio:not([controls])
{
    display: none;

    height: 0;
}

/**
   * Address `[hidden]` styling not present in IE 8/9/10.
   * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
   */
[hidden],
template
{
    display: none;
}

/* Links
     ========================================================================== */
/**
   * Remove the gray background color from active links in IE 10.
   */
a
{
    background-color: transparent;
}

/**
   * Improve readability of focused elements when they are also in an
   * active/hover state.
   */
a:active,
a:hover
{
    outline: 0;
}

/* Text-level semantics
     ========================================================================== */
/**
   * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
   */
abbr[title]
{
    border-bottom: 1px dotted;
}

/**
   * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
   */
b,
strong
{
    font-weight: bold;
}

/**
   * Address styling not present in Safari and Chrome.
   */
dfn
{
    font-style: italic;
}

/**
   * Address variable `h1` font-size and margin within `section` and `article`
   * contexts in Firefox 4+, Safari, and Chrome.
   */
h1
{
    font-size: 2em;

    margin: .67em 0;
}

/**
   * Address styling not present in IE 8/9.
   */
mark
{
    color: #000; 
    background: #ff0;
}

/**
   * Address inconsistent and variable font size in all browsers.
   */
small
{
    font-size: 80%;
}

/**
   * Prevent `sub` and `sup` affecting `line-height` in all browsers.
   */
sub,
sup
{
    font-size: 75%;
    line-height: 0;

    position: relative;

    vertical-align: baseline;
}

sup
{
    top: -.5em;
}

sub
{
    bottom: -.25em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove border when inside `a` element in IE 8/9/10.
   */
img
{
    border: 0;
}

/**
   * Correct overflow not hidden in IE 9/10/11.
   */
svg:not(:root)
{
    overflow: hidden;
}

/* Grouping content
     ========================================================================== */
/**
   * Address margin not present in IE 8/9 and Safari.
   */
figure
{
    margin: 1em 40px;
}

/**
   * Address differences between Firefox and other browsers.
   */
hr
{
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
    height: 0;
}

/**
   * Contain overflow in all browsers.
   */
pre
{
    overflow: auto;
}

/**
   * Address odd `em`-unit font size rendering in all browsers.
   */
code,
kbd,
pre,
samp
{
    font-family: monospace, monospace;
    font-size: 1em;
}

/* Forms
     ========================================================================== */
/**
   * Known limitation: by default, Chrome and Safari on OS X allow very limited
   * styling of `select`, unless a `border` property is set.
   */
/**
   * 1. Correct color not being inherited.
   *    Known issue: affects color of disabled elements.
   * 2. Correct font properties not being inherited.
   * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
   */
button,
input,
optgroup,
select,
textarea
{
    /* 1 */
    font: inherit;
    /* 2 */

    margin: 0;

    color: inherit;
    /* 3 */
}

/**
   * Address `overflow` set to `hidden` in IE 8/9/10/11.
   */
button
{
    overflow: visible;
}

/**
   * Address inconsistent `text-transform` inheritance for `button` and `select`.
   * All other form control elements do not inherit `text-transform` values.
   * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
   * Correct `select` style inheritance in Firefox.
   */
button,
select
{
    text-transform: none;
}

/**
   * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
   *    and `video` controls.
   * 2. Correct inability to style clickable `input` types in iOS.
   * 3. Improve usability and consistency of cursor style between image-type
   *    `input` and others.
   */
button,
html input[type='button'],
input[type='reset'],
input[type='submit']
{
    /* 2 */
    cursor: pointer;

    -webkit-appearance: button;
    /* 3 */
}

/**
   * Re-set default cursor for disabled elements.
   */
button[disabled],
html input[disabled]
{
    cursor: not-allowed;
}

/**
   * Remove inner padding and border in Firefox 4+.
   */
button::-moz-focus-inner,
input::-moz-focus-inner
{
    padding: 0; 

    border: 0;
}

/**
   * Address Firefox 4+ setting `line-height` on `input` using `!important` in
   * the UA stylesheet.
   */
input
{
    line-height: normal;
}

/**
   * It's recommended that you don't attempt to style these elements.
   * Firefox's implementation doesn't respect box-sizing, padding, or width.
   *
   * 1. Address box sizing set to `content-box` in IE 8/9/10.
   * 2. Remove excess padding in IE 8/9/10.
   */
input[type='checkbox'],
input[type='radio']
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

/**
   * Fix the cursor style for Chrome's increment/decrement buttons. For certain
   * `font-size` values of the `input`, it causes the cursor style of the
   * decrement button to change from `default` to `text`.
   */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button
{
    height: auto;
}

/**
   * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
   * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
   */
input[type='search']
{
    /* 1 */
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;

    -webkit-appearance: textfield;
    /* 2 */
}

/**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration
{
    -webkit-appearance: none;
}

/**
   * Define consistent border, margin, and padding.
   * [NOTE] We don't enable this ruleset in Foundation, because we want the <fieldset> element to have plain styling.
   */
/* fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
  } */
/**
   * 1. Correct `color` not being inherited in IE 8/9/10/11.
   * 2. Remove padding so people aren't caught out if they zero out fieldsets.
   */
legend
{
    /* 1 */
    padding: 0;

    border: 0;
    /* 2 */
}

/**
   * Remove default vertical scrollbar in IE 8/9/10/11.
   */
textarea
{
    overflow: auto;
}

/**
   * Don't inherit the `font-weight` (applied by a rule above).
   * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
   */
optgroup
{
    font-weight: bold;
}

/* Tables
     ========================================================================== */
/**
   * Remove most spacing between table cells.
   */
table
{
    border-spacing: 0; 
    border-collapse: collapse;
}

td,
th
{
    padding: 0;
}

.foundation-mq
{
    font-family: 'small=0em&medium=40em&large=64em&xlarge=75em&xxlarge=90em';
}

html
{
    font-size: 100%;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after
{
    -webkit-box-sizing: inherit;
       -moz-box-sizing: inherit;
            box-sizing: inherit;
}

body
{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    line-height: 1.5;

    margin: 0;
    padding: 0;

    color: #0a0a0a;
    background: #fefefe;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img
{
    display: inline-block;

    max-width: 100%;
    height: auto;

    vertical-align: middle; 

    -ms-interpolation-mode: bicubic;
}

textarea
{
    height: auto;
    min-height: 50px;

    -webkit-border-radius: 0;
            border-radius: 0;
}

select
{
    width: 100%;

    -webkit-border-radius: 0;
            border-radius: 0;
}

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object,
.mqa-display img,
.mqa-display embed,
.mqa-display object
{
    max-width: none !important;
}

button
{
    line-height: 1; 

    padding: 0;

    border: 0;
    -webkit-border-radius: 0;
            border-radius: 0;
    background: transparent;

    -webkit-appearance: none;
       -moz-appearance: none;
}
[data-whatinput='mouse'] button
{
    outline: 0;
}

.is-visible
{
    display: block !important;
}

.is-hidden
{
    display: none !important;
}

.row
{
    max-width: 75rem;
    margin-right: auto; 
    margin-left: auto;
}
.row::before,
.row::after
{
    display: table; 

    content: ' ';
}
.row::after
{
    clear: both;
}
.row.collapse > .column,
.row.collapse > .columns
{
    padding-right: 0; 
    padding-left: 0;
}
.row .row
{
    margin-right: -1.25rem; 
    margin-left: -1.25rem;
}
@media screen and (min-width: 40em)
{
    .row .row
    {
        margin-right: -1.25rem; 
        margin-left: -1.25rem;
    }
}
.row .row.collapse
{
    margin-right: 0; 
    margin-left: 0;
}
.row.expanded
{
    max-width: none;
}
.row.expanded .row
{
    margin-right: auto; 
    margin-left: auto;
}

.column,
.columns
{
    float: left;

    width: 100%;
    padding-right: 1.25rem; 
    padding-left: 1.25rem;
}
@media screen and (min-width: 40em)
{
    .column,
    .columns
    {
        padding-right: 1.25rem; 
        padding-left: 1.25rem;
    }
}
.column:last-child:not(:first-child),
.columns:last-child:not(:first-child)
{
    float: right;
}
.column.end:last-child:last-child,
.end.columns:last-child:last-child
{
    float: left;
}

.column.row.row,
.row.row.columns
{
    float: none;
}

.row .column.row.row,
.row .row.row.columns
{
    margin-right: 0; 
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
}

.small-1
{
    width: 8.33333%;
}

.small-push-1
{
    position: relative;
    left: 8.33333%;
}

.small-pull-1
{
    position: relative;
    left: -8.33333%;
}

.small-offset-0
{
    margin-left: 0;
}

.small-2
{
    width: 16.66667%;
}

.small-push-2
{
    position: relative;
    left: 16.66667%;
}

.small-pull-2
{
    position: relative;
    left: -16.66667%;
}

.small-offset-1
{
    margin-left: 8.33333%;
}

.small-3
{
    width: 25%;
}

.small-push-3
{
    position: relative;
    left: 25%;
}

.small-pull-3
{
    position: relative;
    left: -25%;
}

.small-offset-2
{
    margin-left: 16.66667%;
}

.small-4
{
    width: 33.33333%;
}

.small-push-4
{
    position: relative;
    left: 33.33333%;
}

.small-pull-4
{
    position: relative;
    left: -33.33333%;
}

.small-offset-3
{
    margin-left: 25%;
}

.small-5
{
    width: 41.66667%;
}

.small-push-5
{
    position: relative;
    left: 41.66667%;
}

.small-pull-5
{
    position: relative;
    left: -41.66667%;
}

.small-offset-4
{
    margin-left: 33.33333%;
}

.small-6
{
    width: 50%;
}

.small-push-6
{
    position: relative;
    left: 50%;
}

.small-pull-6
{
    position: relative;
    left: -50%;
}

.small-offset-5
{
    margin-left: 41.66667%;
}

.small-7
{
    width: 58.33333%;
}

.small-push-7
{
    position: relative;
    left: 58.33333%;
}

.small-pull-7
{
    position: relative;
    left: -58.33333%;
}

.small-offset-6
{
    margin-left: 50%;
}

.small-8
{
    width: 66.66667%;
}

.small-push-8
{
    position: relative;
    left: 66.66667%;
}

.small-pull-8
{
    position: relative;
    left: -66.66667%;
}

.small-offset-7
{
    margin-left: 58.33333%;
}

.small-9
{
    width: 75%;
}

.small-push-9
{
    position: relative;
    left: 75%;
}

.small-pull-9
{
    position: relative;
    left: -75%;
}

.small-offset-8
{
    margin-left: 66.66667%;
}

.small-10
{
    width: 83.33333%;
}

.small-push-10
{
    position: relative;
    left: 83.33333%;
}

.small-pull-10
{
    position: relative;
    left: -83.33333%;
}

.small-offset-9
{
    margin-left: 75%;
}

.small-11
{
    width: 91.66667%;
}

.small-push-11
{
    position: relative;
    left: 91.66667%;
}

.small-pull-11
{
    position: relative;
    left: -91.66667%;
}

.small-offset-10
{
    margin-left: 83.33333%;
}

.small-12
{
    width: 100%;
}

.small-offset-11
{
    margin-left: 91.66667%;
}

.small-up-1 > .column,
.small-up-1 > .columns
{
    float: left; 

    width: 100%;
}
.small-up-1 > .column:nth-of-type(1n),
.small-up-1 > .columns:nth-of-type(1n)
{
    clear: none;
}
.small-up-1 > .column:nth-of-type(1n+1),
.small-up-1 > .columns:nth-of-type(1n+1)
{
    clear: both;
}
.small-up-1 > .column:last-child,
.small-up-1 > .columns:last-child
{
    float: left;
}

.small-up-2 > .column,
.small-up-2 > .columns
{
    float: left; 

    width: 50%;
}
.small-up-2 > .column:nth-of-type(1n),
.small-up-2 > .columns:nth-of-type(1n)
{
    clear: none;
}
.small-up-2 > .column:nth-of-type(2n+1),
.small-up-2 > .columns:nth-of-type(2n+1)
{
    clear: both;
}
.small-up-2 > .column:last-child,
.small-up-2 > .columns:last-child
{
    float: left;
}

.small-up-3 > .column,
.small-up-3 > .columns
{
    float: left; 

    width: 33.33333%;
}
.small-up-3 > .column:nth-of-type(1n),
.small-up-3 > .columns:nth-of-type(1n)
{
    clear: none;
}
.small-up-3 > .column:nth-of-type(3n+1),
.small-up-3 > .columns:nth-of-type(3n+1)
{
    clear: both;
}
.small-up-3 > .column:last-child,
.small-up-3 > .columns:last-child
{
    float: left;
}

.small-up-4 > .column,
.small-up-4 > .columns
{
    float: left; 

    width: 25%;
}
.small-up-4 > .column:nth-of-type(1n),
.small-up-4 > .columns:nth-of-type(1n)
{
    clear: none;
}
.small-up-4 > .column:nth-of-type(4n+1),
.small-up-4 > .columns:nth-of-type(4n+1)
{
    clear: both;
}
.small-up-4 > .column:last-child,
.small-up-4 > .columns:last-child
{
    float: left;
}

.small-up-5 > .column,
.small-up-5 > .columns
{
    float: left; 

    width: 20%;
}
.small-up-5 > .column:nth-of-type(1n),
.small-up-5 > .columns:nth-of-type(1n)
{
    clear: none;
}
.small-up-5 > .column:nth-of-type(5n+1),
.small-up-5 > .columns:nth-of-type(5n+1)
{
    clear: both;
}
.small-up-5 > .column:last-child,
.small-up-5 > .columns:last-child
{
    float: left;
}

.small-up-6 > .column,
.small-up-6 > .columns
{
    float: left; 

    width: 16.66667%;
}
.small-up-6 > .column:nth-of-type(1n),
.small-up-6 > .columns:nth-of-type(1n)
{
    clear: none;
}
.small-up-6 > .column:nth-of-type(6n+1),
.small-up-6 > .columns:nth-of-type(6n+1)
{
    clear: both;
}
.small-up-6 > .column:last-child,
.small-up-6 > .columns:last-child
{
    float: left;
}

.small-up-7 > .column,
.small-up-7 > .columns
{
    float: left; 

    width: 14.28571%;
}
.small-up-7 > .column:nth-of-type(1n),
.small-up-7 > .columns:nth-of-type(1n)
{
    clear: none;
}
.small-up-7 > .column:nth-of-type(7n+1),
.small-up-7 > .columns:nth-of-type(7n+1)
{
    clear: both;
}
.small-up-7 > .column:last-child,
.small-up-7 > .columns:last-child
{
    float: left;
}

.small-up-8 > .column,
.small-up-8 > .columns
{
    float: left; 

    width: 12.5%;
}
.small-up-8 > .column:nth-of-type(1n),
.small-up-8 > .columns:nth-of-type(1n)
{
    clear: none;
}
.small-up-8 > .column:nth-of-type(8n+1),
.small-up-8 > .columns:nth-of-type(8n+1)
{
    clear: both;
}
.small-up-8 > .column:last-child,
.small-up-8 > .columns:last-child
{
    float: left;
}

.small-collapse > .column,
.small-collapse > .columns
{
    padding-right: 0; 
    padding-left: 0;
}

.small-collapse .row
{
    margin-right: 0; 
    margin-left: 0;
}

.expanded.row .small-collapse.row
{
    margin-right: 0; 
    margin-left: 0;
}

.small-uncollapse > .column,
.small-uncollapse > .columns
{
    padding-right: 1.25rem; 
    padding-left: 1.25rem;
}

.small-centered
{
    margin-right: auto; 
    margin-left: auto;
}
.small-centered,
.small-centered:last-child:not(:first-child)
{
    float: none;
    clear: both;
}

.small-uncentered,
.small-push-0,
.small-pull-0
{
    position: static;

    float: left; 

    margin-right: 0;
    margin-left: 0;
}

@media screen and (min-width: 40em)
{
    .medium-1
    {
        width: 8.33333%;
    }
    .medium-push-1
    {
        position: relative;
        left: 8.33333%;
    }
    .medium-pull-1
    {
        position: relative;
        left: -8.33333%;
    }
    .medium-offset-0
    {
        margin-left: 0;
    }
    .medium-2
    {
        width: 16.66667%;
    }
    .medium-push-2
    {
        position: relative;
        left: 16.66667%;
    }
    .medium-pull-2
    {
        position: relative;
        left: -16.66667%;
    }
    .medium-offset-1
    {
        margin-left: 8.33333%;
    }
    .medium-3
    {
        width: 25%;
    }
    .medium-push-3
    {
        position: relative;
        left: 25%;
    }
    .medium-pull-3
    {
        position: relative;
        left: -25%;
    }
    .medium-offset-2
    {
        margin-left: 16.66667%;
    }
    .medium-4
    {
        width: 33.33333%;
    }
    .medium-push-4
    {
        position: relative;
        left: 33.33333%;
    }
    .medium-pull-4
    {
        position: relative;
        left: -33.33333%;
    }
    .medium-offset-3
    {
        margin-left: 25%;
    }
    .medium-5
    {
        width: 41.66667%;
    }
    .medium-push-5
    {
        position: relative;
        left: 41.66667%;
    }
    .medium-pull-5
    {
        position: relative;
        left: -41.66667%;
    }
    .medium-offset-4
    {
        margin-left: 33.33333%;
    }
    .medium-6
    {
        width: 50%;
    }
    .medium-push-6
    {
        position: relative;
        left: 50%;
    }
    .medium-pull-6
    {
        position: relative;
        left: -50%;
    }
    .medium-offset-5
    {
        margin-left: 41.66667%;
    }
    .medium-7
    {
        width: 58.33333%;
    }
    .medium-push-7
    {
        position: relative;
        left: 58.33333%;
    }
    .medium-pull-7
    {
        position: relative;
        left: -58.33333%;
    }
    .medium-offset-6
    {
        margin-left: 50%;
    }
    .medium-8
    {
        width: 66.66667%;
    }
    .medium-push-8
    {
        position: relative;
        left: 66.66667%;
    }
    .medium-pull-8
    {
        position: relative;
        left: -66.66667%;
    }
    .medium-offset-7
    {
        margin-left: 58.33333%;
    }
    .medium-9
    {
        width: 75%;
    }
    .medium-push-9
    {
        position: relative;
        left: 75%;
    }
    .medium-pull-9
    {
        position: relative;
        left: -75%;
    }
    .medium-offset-8
    {
        margin-left: 66.66667%;
    }
    .medium-10
    {
        width: 83.33333%;
    }
    .medium-push-10
    {
        position: relative;
        left: 83.33333%;
    }
    .medium-pull-10
    {
        position: relative;
        left: -83.33333%;
    }
    .medium-offset-9
    {
        margin-left: 75%;
    }
    .medium-11
    {
        width: 91.66667%;
    }
    .medium-push-11
    {
        position: relative;
        left: 91.66667%;
    }
    .medium-pull-11
    {
        position: relative;
        left: -91.66667%;
    }
    .medium-offset-10
    {
        margin-left: 83.33333%;
    }
    .medium-12
    {
        width: 100%;
    }
    .medium-offset-11
    {
        margin-left: 91.66667%;
    }
    .medium-up-1 > .column,
    .medium-up-1 > .columns
    {
        float: left; 

        width: 100%;
    }
    .medium-up-1 > .column:nth-of-type(1n),
    .medium-up-1 > .columns:nth-of-type(1n)
    {
        clear: none;
    }
    .medium-up-1 > .column:nth-of-type(1n+1),
    .medium-up-1 > .columns:nth-of-type(1n+1)
    {
        clear: both;
    }
    .medium-up-1 > .column:last-child,
    .medium-up-1 > .columns:last-child
    {
        float: left;
    }
    .medium-up-2 > .column,
    .medium-up-2 > .columns
    {
        float: left; 

        width: 50%;
    }
    .medium-up-2 > .column:nth-of-type(1n),
    .medium-up-2 > .columns:nth-of-type(1n)
    {
        clear: none;
    }
    .medium-up-2 > .column:nth-of-type(2n+1),
    .medium-up-2 > .columns:nth-of-type(2n+1)
    {
        clear: both;
    }
    .medium-up-2 > .column:last-child,
    .medium-up-2 > .columns:last-child
    {
        float: left;
    }
    .medium-up-3 > .column,
    .medium-up-3 > .columns
    {
        float: left; 

        width: 33.33333%;
    }
    .medium-up-3 > .column:nth-of-type(1n),
    .medium-up-3 > .columns:nth-of-type(1n)
    {
        clear: none;
    }
    .medium-up-3 > .column:nth-of-type(3n+1),
    .medium-up-3 > .columns:nth-of-type(3n+1)
    {
        clear: both;
    }
    .medium-up-3 > .column:last-child,
    .medium-up-3 > .columns:last-child
    {
        float: left;
    }
    .medium-up-4 > .column,
    .medium-up-4 > .columns
    {
        float: left; 

        width: 25%;
    }
    .medium-up-4 > .column:nth-of-type(1n),
    .medium-up-4 > .columns:nth-of-type(1n)
    {
        clear: none;
    }
    .medium-up-4 > .column:nth-of-type(4n+1),
    .medium-up-4 > .columns:nth-of-type(4n+1)
    {
        clear: both;
    }
    .medium-up-4 > .column:last-child,
    .medium-up-4 > .columns:last-child
    {
        float: left;
    }
    .medium-up-5 > .column,
    .medium-up-5 > .columns
    {
        float: left; 

        width: 20%;
    }
    .medium-up-5 > .column:nth-of-type(1n),
    .medium-up-5 > .columns:nth-of-type(1n)
    {
        clear: none;
    }
    .medium-up-5 > .column:nth-of-type(5n+1),
    .medium-up-5 > .columns:nth-of-type(5n+1)
    {
        clear: both;
    }
    .medium-up-5 > .column:last-child,
    .medium-up-5 > .columns:last-child
    {
        float: left;
    }
    .medium-up-6 > .column,
    .medium-up-6 > .columns
    {
        float: left; 

        width: 16.66667%;
    }
    .medium-up-6 > .column:nth-of-type(1n),
    .medium-up-6 > .columns:nth-of-type(1n)
    {
        clear: none;
    }
    .medium-up-6 > .column:nth-of-type(6n+1),
    .medium-up-6 > .columns:nth-of-type(6n+1)
    {
        clear: both;
    }
    .medium-up-6 > .column:last-child,
    .medium-up-6 > .columns:last-child
    {
        float: left;
    }
    .medium-up-7 > .column,
    .medium-up-7 > .columns
    {
        float: left; 

        width: 14.28571%;
    }
    .medium-up-7 > .column:nth-of-type(1n),
    .medium-up-7 > .columns:nth-of-type(1n)
    {
        clear: none;
    }
    .medium-up-7 > .column:nth-of-type(7n+1),
    .medium-up-7 > .columns:nth-of-type(7n+1)
    {
        clear: both;
    }
    .medium-up-7 > .column:last-child,
    .medium-up-7 > .columns:last-child
    {
        float: left;
    }
    .medium-up-8 > .column,
    .medium-up-8 > .columns
    {
        float: left; 

        width: 12.5%;
    }
    .medium-up-8 > .column:nth-of-type(1n),
    .medium-up-8 > .columns:nth-of-type(1n)
    {
        clear: none;
    }
    .medium-up-8 > .column:nth-of-type(8n+1),
    .medium-up-8 > .columns:nth-of-type(8n+1)
    {
        clear: both;
    }
    .medium-up-8 > .column:last-child,
    .medium-up-8 > .columns:last-child
    {
        float: left;
    }
    .medium-collapse > .column,
    .medium-collapse > .columns
    {
        padding-right: 0; 
        padding-left: 0;
    }
    .medium-collapse .row
    {
        margin-right: 0; 
        margin-left: 0;
    }
    .expanded.row .medium-collapse.row
    {
        margin-right: 0; 
        margin-left: 0;
    }
    .medium-uncollapse > .column,
    .medium-uncollapse > .columns
    {
        padding-right: 1.25rem; 
        padding-left: 1.25rem;
    }
    .medium-centered
    {
        margin-right: auto; 
        margin-left: auto;
    }
    .medium-centered,
    .medium-centered:last-child:not(:first-child)
    {
        float: none;
        clear: both;
    }
    .medium-uncentered,
    .medium-push-0,
    .medium-pull-0
    {
        position: static;

        float: left; 

        margin-right: 0;
        margin-left: 0;
    }
}

@media screen and (min-width: 64em)
{
    .large-1
    {
        width: 8.33333%;
    }
    .large-push-1
    {
        position: relative;
        left: 8.33333%;
    }
    .large-pull-1
    {
        position: relative;
        left: -8.33333%;
    }
    .large-offset-0
    {
        margin-left: 0;
    }
    .large-2
    {
        width: 16.66667%;
    }
    .large-push-2
    {
        position: relative;
        left: 16.66667%;
    }
    .large-pull-2
    {
        position: relative;
        left: -16.66667%;
    }
    .large-offset-1
    {
        margin-left: 8.33333%;
    }
    .large-3
    {
        width: 25%;
    }
    .large-push-3
    {
        position: relative;
        left: 25%;
    }
    .large-pull-3
    {
        position: relative;
        left: -25%;
    }
    .large-offset-2
    {
        margin-left: 16.66667%;
    }
    .large-4
    {
        width: 33.33333%;
    }
    .large-push-4
    {
        position: relative;
        left: 33.33333%;
    }
    .large-pull-4
    {
        position: relative;
        left: -33.33333%;
    }
    .large-offset-3
    {
        margin-left: 25%;
    }
    .large-5
    {
        width: 41.66667%;
    }
    .large-push-5
    {
        position: relative;
        left: 41.66667%;
    }
    .large-pull-5
    {
        position: relative;
        left: -41.66667%;
    }
    .large-offset-4
    {
        margin-left: 33.33333%;
    }
    .large-6
    {
        width: 50%;
    }
    .large-push-6
    {
        position: relative;
        left: 50%;
    }
    .large-pull-6
    {
        position: relative;
        left: -50%;
    }
    .large-offset-5
    {
        margin-left: 41.66667%;
    }
    .large-7
    {
        width: 58.33333%;
    }
    .large-push-7
    {
        position: relative;
        left: 58.33333%;
    }
    .large-pull-7
    {
        position: relative;
        left: -58.33333%;
    }
    .large-offset-6
    {
        margin-left: 50%;
    }
    .large-8
    {
        width: 66.66667%;
    }
    .large-push-8
    {
        position: relative;
        left: 66.66667%;
    }
    .large-pull-8
    {
        position: relative;
        left: -66.66667%;
    }
    .large-offset-7
    {
        margin-left: 58.33333%;
    }
    .large-9
    {
        width: 75%;
    }
    .large-push-9
    {
        position: relative;
        left: 75%;
    }
    .large-pull-9
    {
        position: relative;
        left: -75%;
    }
    .large-offset-8
    {
        margin-left: 66.66667%;
    }
    .large-10
    {
        width: 83.33333%;
    }
    .large-push-10
    {
        position: relative;
        left: 83.33333%;
    }
    .large-pull-10
    {
        position: relative;
        left: -83.33333%;
    }
    .large-offset-9
    {
        margin-left: 75%;
    }
    .large-11
    {
        width: 91.66667%;
    }
    .large-push-11
    {
        position: relative;
        left: 91.66667%;
    }
    .large-pull-11
    {
        position: relative;
        left: -91.66667%;
    }
    .large-offset-10
    {
        margin-left: 83.33333%;
    }
    .large-12
    {
        width: 100%;
    }
    .large-offset-11
    {
        margin-left: 91.66667%;
    }
    .large-up-1 > .column,
    .large-up-1 > .columns
    {
        float: left; 

        width: 100%;
    }
    .large-up-1 > .column:nth-of-type(1n),
    .large-up-1 > .columns:nth-of-type(1n)
    {
        clear: none;
    }
    .large-up-1 > .column:nth-of-type(1n+1),
    .large-up-1 > .columns:nth-of-type(1n+1)
    {
        clear: both;
    }
    .large-up-1 > .column:last-child,
    .large-up-1 > .columns:last-child
    {
        float: left;
    }
    .large-up-2 > .column,
    .large-up-2 > .columns
    {
        float: left; 

        width: 50%;
    }
    .large-up-2 > .column:nth-of-type(1n),
    .large-up-2 > .columns:nth-of-type(1n)
    {
        clear: none;
    }
    .large-up-2 > .column:nth-of-type(2n+1),
    .large-up-2 > .columns:nth-of-type(2n+1)
    {
        clear: both;
    }
    .large-up-2 > .column:last-child,
    .large-up-2 > .columns:last-child
    {
        float: left;
    }
    .large-up-3 > .column,
    .large-up-3 > .columns
    {
        float: left; 

        width: 33.33333%;
    }
    .large-up-3 > .column:nth-of-type(1n),
    .large-up-3 > .columns:nth-of-type(1n)
    {
        clear: none;
    }
    .large-up-3 > .column:nth-of-type(3n+1),
    .large-up-3 > .columns:nth-of-type(3n+1)
    {
        clear: both;
    }
    .large-up-3 > .column:last-child,
    .large-up-3 > .columns:last-child
    {
        float: left;
    }
    .large-up-4 > .column,
    .large-up-4 > .columns
    {
        float: left; 

        width: 25%;
    }
    .large-up-4 > .column:nth-of-type(1n),
    .large-up-4 > .columns:nth-of-type(1n)
    {
        clear: none;
    }
    .large-up-4 > .column:nth-of-type(4n+1),
    .large-up-4 > .columns:nth-of-type(4n+1)
    {
        clear: both;
    }
    .large-up-4 > .column:last-child,
    .large-up-4 > .columns:last-child
    {
        float: left;
    }
    .large-up-5 > .column,
    .large-up-5 > .columns
    {
        float: left; 

        width: 20%;
    }
    .large-up-5 > .column:nth-of-type(1n),
    .large-up-5 > .columns:nth-of-type(1n)
    {
        clear: none;
    }
    .large-up-5 > .column:nth-of-type(5n+1),
    .large-up-5 > .columns:nth-of-type(5n+1)
    {
        clear: both;
    }
    .large-up-5 > .column:last-child,
    .large-up-5 > .columns:last-child
    {
        float: left;
    }
    .large-up-6 > .column,
    .large-up-6 > .columns
    {
        float: left; 

        width: 16.66667%;
    }
    .large-up-6 > .column:nth-of-type(1n),
    .large-up-6 > .columns:nth-of-type(1n)
    {
        clear: none;
    }
    .large-up-6 > .column:nth-of-type(6n+1),
    .large-up-6 > .columns:nth-of-type(6n+1)
    {
        clear: both;
    }
    .large-up-6 > .column:last-child,
    .large-up-6 > .columns:last-child
    {
        float: left;
    }
    .large-up-7 > .column,
    .large-up-7 > .columns
    {
        float: left; 

        width: 14.28571%;
    }
    .large-up-7 > .column:nth-of-type(1n),
    .large-up-7 > .columns:nth-of-type(1n)
    {
        clear: none;
    }
    .large-up-7 > .column:nth-of-type(7n+1),
    .large-up-7 > .columns:nth-of-type(7n+1)
    {
        clear: both;
    }
    .large-up-7 > .column:last-child,
    .large-up-7 > .columns:last-child
    {
        float: left;
    }
    .large-up-8 > .column,
    .large-up-8 > .columns
    {
        float: left; 

        width: 12.5%;
    }
    .large-up-8 > .column:nth-of-type(1n),
    .large-up-8 > .columns:nth-of-type(1n)
    {
        clear: none;
    }
    .large-up-8 > .column:nth-of-type(8n+1),
    .large-up-8 > .columns:nth-of-type(8n+1)
    {
        clear: both;
    }
    .large-up-8 > .column:last-child,
    .large-up-8 > .columns:last-child
    {
        float: left;
    }
    .large-collapse > .column,
    .large-collapse > .columns
    {
        padding-right: 0; 
        padding-left: 0;
    }
    .large-collapse .row
    {
        margin-right: 0; 
        margin-left: 0;
    }
    .expanded.row .large-collapse.row
    {
        margin-right: 0; 
        margin-left: 0;
    }
    .large-uncollapse > .column,
    .large-uncollapse > .columns
    {
        padding-right: 1.25rem; 
        padding-left: 1.25rem;
    }
    .large-centered
    {
        margin-right: auto; 
        margin-left: auto;
    }
    .large-centered,
    .large-centered:last-child:not(:first-child)
    {
        float: none;
        clear: both;
    }
    .large-uncentered,
    .large-push-0,
    .large-pull-0
    {
        position: static;

        float: left; 

        margin-right: 0;
        margin-left: 0;
    }
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td
{
    margin: 0;
    padding: 0;
}

p
{
    font-size: inherit;
    line-height: 1.6;

    margin-bottom: 1rem;

    text-rendering: optimizeLegibility;
}

em,
i
{
    font-style: italic;
    line-height: inherit;
}

strong,
b
{
    font-weight: bold;
    line-height: inherit;
}

small
{
    font-size: 80%;
    line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1.4; 

    margin-top: 0;
    margin-bottom: .5rem;

    color: inherit;

    text-rendering: optimizeLegibility;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small
{
    line-height: 0; 

    color: #1e99b3;
}

h1
{
    font-size: 1.625rem;
}

h2
{
    font-size: 1.25rem;
}

h3
{
    font-size: 1.75rem;
}

h4
{
    font-size: 1.125rem;
}

h5
{
    font-size: 1.0625rem;
}

h6
{
    font-size: 1rem;
}

@media screen and (min-width: 40em)
{
    h1
    {
        font-size: 2.375rem;
    }
    h2
    {
        font-size: 1.375rem;
    }
    h3
    {
        font-size: 2.625rem;
    }
    h4
    {
        font-size: 1.25rem;
    }
    h5
    {
        font-size: 1.25rem;
    }
    h6
    {
        font-size: 1rem;
    }
}

@media screen and (min-width: 64em)
{
    h1
    {
        font-size: 3.4375rem;
    }
    h2
    {
        font-size: 1.625rem;
    }
    h3
    {
        font-size: 3.4375rem;
    }
}

a
{
    line-height: inherit;

    cursor: pointer; 
    text-decoration: none;

    color: #324375;
}
a:hover,
a:focus
{
    color: #2b3a65;
}
a img
{
    border: 0;
}

hr
{
    clear: both; 

    max-width: 75rem;
    height: 0;
    margin: 1.25rem auto;

    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #1e99b3;
    border-left: 0;
}

ul,
ol,
dl
{
    line-height: 1.6;

    margin-bottom: 1rem;

    list-style-position: outside;
}

li
{
    font-size: inherit;
}

ul
{
    margin-left: 1.25rem; 

    list-style-type: disc;
}

ol
{
    margin-left: 1.25rem;
}

ul ul,
ol ul,
ul ol,
ol ol
{
    margin-bottom: 0; 
    margin-left: 1.25rem;
}

dl
{
    margin-bottom: 1rem;
}
dl dt
{
    font-weight: bold; 

    margin-bottom: .3rem;
}

blockquote
{
    margin: 0 0 1rem;
    padding: .5625rem 1.25rem 0 1.1875rem;

    border-left: 1px solid #1e99b3;
}
blockquote,
blockquote p
{
    line-height: 1.6;

    color: #8a8a8a;
}

cite
{
    font-size: .8125rem;

    display: block;

    color: #8a8a8a;
}
cite:before
{
    content: '\2014 \0020';
}

abbr
{
    cursor: help;

    color: #0a0a0a;
    border-bottom: 1px dotted #0a0a0a;
}

code
{
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    font-weight: normal;

    padding: .125rem .3125rem .0625rem; 

    color: #0a0a0a;
    border: 1px solid #1e99b3;
    background-color: #46c8d8;
}

kbd
{
    font-family: Consolas, 'Liberation Mono', Courier, monospace; 

    margin: 0;
    padding: .125rem .25rem 0;

    color: #0a0a0a;
    background-color: #46c8d8;
}

.subheader
{
    font-weight: normal;
    line-height: 1.4;

    margin-top: .2rem;
    margin-bottom: .5rem;

    color: #8a8a8a;
}

.lead
{
    font-size: 125%;
    line-height: 1.6;
}

.stat
{
    font-size: 2.5rem;
    line-height: 1;
}
p + .stat
{
    margin-top: -1rem;
}

.no-bullet
{
    margin-left: 0;

    list-style: none;
}

.text-left
{
    text-align: left;
}

.text-right
{
    text-align: right;
}

.text-center
{
    text-align: center;
}

.text-justify
{
    text-align: justify;
}

@media screen and (min-width: 40em)
{
    .medium-text-left
    {
        text-align: left;
    }
    .medium-text-right
    {
        text-align: right;
    }
    .medium-text-center
    {
        text-align: center;
    }
    .medium-text-justify
    {
        text-align: justify;
    }
}

@media screen and (min-width: 64em)
{
    .large-text-left
    {
        text-align: left;
    }
    .large-text-right
    {
        text-align: right;
    }
    .large-text-center
    {
        text-align: center;
    }
    .large-text-justify
    {
        text-align: justify;
    }
}

.show-for-print
{
    display: none !important;
}

@media print
{
    *
    {
        color: black !important;
        background: transparent !important;
        -webkit-box-shadow: none !important;
                box-shadow: none !important;
        text-shadow: none !important;
    }
    .show-for-print
    {
        display: block !important;
    }
    .hide-for-print
    {
        display: none !important;
    }
    table.show-for-print
    {
        display: table !important;
    }
    thead.show-for-print
    {
        display: table-header-group !important;
    }
    tbody.show-for-print
    {
        display: table-row-group !important;
    }
    tr.show-for-print
    {
        display: table-row !important;
    }
    td.show-for-print
    {
        display: table-cell !important;
    }
    th.show-for-print
    {
        display: table-cell !important;
    }
    a,
    a:visited
    {
        text-decoration: underline;
    }
    a[href]:after
    {
        content: ' (' attr(href) ')';
    }
    .ir a:after,
    a[href^='javascript:']:after,
    a[href^='#']:after
    {
        content: '';
    }
    abbr[title]:after
    {
        content: ' (' attr(title) ')';
    }
    pre,
    blockquote
    {
        border: 1px solid #8a8a8a;

        page-break-inside: avoid;
    }
    thead
    {
        display: table-header-group;
    }
    tr,
    img
    {
        page-break-inside: avoid;
    }
    img
    {
        max-width: 100% !important;
    }
    @page
    {
        margin: .5cm;
    }
    p,
    h2,
    h3
    {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3
    {
        page-break-after: avoid;
    }
}

.button
{
    font-size: .9rem;
    line-height: 1;

    display: inline-block;

    margin: 0 0 1rem 0;
    padding: .85em 1em;

    cursor: pointer;
    -webkit-transition: background-color .25s ease-out, color .25s ease-out;
            transition: background-color .25s ease-out, color .25s ease-out;
    text-align: center;
    vertical-align: middle;

    color: #fefefe; 
    border: 1px solid transparent;
    -webkit-border-radius: 0;
            border-radius: 0;
    background-color: #324375;

    -webkit-appearance: none;
}
[data-whatinput='mouse'] .button
{
    outline: 0;
}
.button:hover,
.button:focus
{
    color: #fefefe; 
    background-color: #2b3963;
}
.button.tiny
{
    font-size: .6rem;
}
.button.small
{
    font-size: .75rem;
}
.button.large
{
    font-size: 1.25rem;
}
.button.expanded
{
    display: block;

    width: 100%;
    margin-right: 0; 
    margin-left: 0;
}
.button.primary
{
    color: #fefefe; 
    background-color: #324375;
}
.button.primary:hover,
.button.primary:focus
{
    color: #fefefe; 
    background-color: #28365e;
}
.button.secondary
{
    color: #fefefe; 
    background-color: #777;
}
.button.secondary:hover,
.button.secondary:focus
{
    color: #fefefe; 
    background-color: #5f5f5f;
}
.button.success
{
    color: #fefefe; 
    background-color: #3adb76;
}
.button.success:hover,
.button.success:focus
{
    color: #fefefe; 
    background-color: #22bb5b;
}
.button.warning
{
    color: #fefefe; 
    background-color: #ffae00;
}
.button.warning:hover,
.button.warning:focus
{
    color: #fefefe; 
    background-color: #cc8b00;
}
.button.alert
{
    color: #fefefe; 
    background-color: #ec5840;
}
.button.alert:hover,
.button.alert:focus
{
    color: #fefefe; 
    background-color: #da3116;
}
.button.hollow
{
    color: #324375; 
    border: 1px solid #324375;
}
.button.hollow,
.button.hollow:hover,
.button.hollow:focus
{
    background-color: transparent;
}
.button.hollow:hover,
.button.hollow:focus
{
    color: #19223b; 
    border-color: #19223b;
}
.button.hollow.primary
{
    color: #324375; 
    border: 1px solid #324375;
}
.button.hollow.primary:hover,
.button.hollow.primary:focus
{
    color: #19223b; 
    border-color: #19223b;
}
.button.hollow.secondary
{
    color: #777; 
    border: 1px solid #777;
}
.button.hollow.secondary:hover,
.button.hollow.secondary:focus
{
    color: #3c3c3c; 
    border-color: #3c3c3c;
}
.button.hollow.success
{
    color: #3adb76; 
    border: 1px solid #3adb76;
}
.button.hollow.success:hover,
.button.hollow.success:focus
{
    color: #157539; 
    border-color: #157539;
}
.button.hollow.warning
{
    color: #ffae00; 
    border: 1px solid #ffae00;
}
.button.hollow.warning:hover,
.button.hollow.warning:focus
{
    color: #805700; 
    border-color: #805700;
}
.button.hollow.alert
{
    color: #ec5840; 
    border: 1px solid #ec5840;
}
.button.hollow.alert:hover,
.button.hollow.alert:focus
{
    color: #881f0e; 
    border-color: #881f0e;
}
.button.disabled,
.button[disabled]
{
    cursor: not-allowed; 

    opacity: .25;
}
.button.disabled:hover,
.button.disabled:focus,
.button[disabled]:hover,
.button[disabled]:focus
{
    color: #fefefe; 
    background-color: #324375;
}
.button.disabled.primary,
.button[disabled].primary
{
    cursor: not-allowed; 

    opacity: .25;
}
.button.disabled.primary:hover,
.button.disabled.primary:focus,
.button[disabled].primary:hover,
.button[disabled].primary:focus
{
    color: #fefefe; 
    background-color: #324375;
}
.button.disabled.secondary,
.button[disabled].secondary
{
    cursor: not-allowed; 

    opacity: .25;
}
.button.disabled.secondary:hover,
.button.disabled.secondary:focus,
.button[disabled].secondary:hover,
.button[disabled].secondary:focus
{
    color: #fefefe; 
    background-color: #777;
}
.button.disabled.success,
.button[disabled].success
{
    cursor: not-allowed; 

    opacity: .25;
}
.button.disabled.success:hover,
.button.disabled.success:focus,
.button[disabled].success:hover,
.button[disabled].success:focus
{
    color: #fefefe; 
    background-color: #3adb76;
}
.button.disabled.warning,
.button[disabled].warning
{
    cursor: not-allowed; 

    opacity: .25;
}
.button.disabled.warning:hover,
.button.disabled.warning:focus,
.button[disabled].warning:hover,
.button[disabled].warning:focus
{
    color: #fefefe; 
    background-color: #ffae00;
}
.button.disabled.alert,
.button[disabled].alert
{
    cursor: not-allowed; 

    opacity: .25;
}
.button.disabled.alert:hover,
.button.disabled.alert:focus,
.button[disabled].alert:hover,
.button[disabled].alert:focus
{
    color: #fefefe; 
    background-color: #ec5840;
}
.button.dropdown::after
{
    position: relative;
    top: .4em;

    display: block;
    display: inline-block; 
    float: right;

    width: 0;
    height: 0;
    margin-left: 1em;

    content: '';

    border: inset .4em;
    border-color: #fefefe transparent transparent;
    border-top-style: solid;
    border-bottom-width: 0;
}
.button.arrow-only::after
{
    top: -.1em; 

    float: none;

    margin-left: 0;
}

.hide
{
    display: none !important;
}

.invisible
{
    visibility: hidden;
}

@media screen and (max-width: 39.9375em)
{
    .hide-for-small-only
    {
        display: none !important;
    }
}

@media screen and (max-width: 0), screen and (min-width: 40em)
{
    .show-for-small-only
    {
        display: none !important;
    }
}

@media screen and (min-width: 40em)
{
    .hide-for-medium
    {
        display: none !important;
    }
}

@media screen and (max-width: 39.9375em)
{
    .show-for-medium
    {
        display: none !important;
    }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em)
{
    .hide-for-medium-only
    {
        display: none !important;
    }
}

@media screen and (max-width: 39.9375em), screen and (min-width: 64em)
{
    .show-for-medium-only
    {
        display: none !important;
    }
}

@media screen and (min-width: 64em)
{
    .hide-for-large
    {
        display: none !important;
    }
}

@media screen and (max-width: 63.9375em)
{
    .show-for-large
    {
        display: none !important;
    }
}

@media screen and (min-width: 64em) and (max-width: 74.9375em)
{
    .hide-for-large-only
    {
        display: none !important;
    }
}

@media screen and (max-width: 63.9375em), screen and (min-width: 75em)
{
    .show-for-large-only
    {
        display: none !important;
    }
}

.show-for-sr,
.show-on-focus
{
    position: absolute !important;

    overflow: hidden;
    clip: rect(0, 0, 0, 0); 

    width: 1px;
    height: 1px;
}

.show-on-focus:active,
.show-on-focus:focus
{
    position: static !important;

    overflow: visible;
    clip: auto; 

    width: auto;
    height: auto;
}

.show-for-landscape,
.hide-for-portrait
{
    display: block !important;
}
@media screen and (orientation: landscape)
{
    .show-for-landscape,
    .hide-for-portrait
    {
        display: block !important;
    }
}
@media screen and (orientation: portrait)
{
    .show-for-landscape,
    .hide-for-portrait
    {
        display: none !important;
    }
}

.hide-for-landscape,
.show-for-portrait
{
    display: none !important;
}
@media screen and (orientation: landscape)
{
    .hide-for-landscape,
    .show-for-portrait
    {
        display: none !important;
    }
}
@media screen and (orientation: portrait)
{
    .hide-for-landscape,
    .show-for-portrait
    {
        display: block !important;
    }
}

.float-left
{
    float: left !important;
}

.float-right
{
    float: right !important;
}

.float-center
{
    display: block;

    margin-right: auto; 
    margin-left: auto;
}

.clearfix::before,
.clearfix::after
{
    display: table; 

    content: ' ';
}

.clearfix::after
{
    clear: both;
}

.no-padding
{
    line-height: 100%;

    margin: 0 !important; 
    padding: 0 !important;
}

.collapse-in-left .column,
.collapse-in-left .columns
{
    padding-left: 0;
}

@media screen and (max-width: 39.9375em)
{
    .small-text-center
    {
        text-align: center;
    }
}

/*
  Вынес из googlefonts т.к. у юзвери шрифт Roboto может быть установлен
  в системе, но вот какой - непонятно.
*/
@font-face
{
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;

    src: url('fonts/RobotoBold.eot');
    src: url('fonts/RobotoBold.eot') format('embedded-opentype'), url('fonts/RobotoBold.woff2') format('woff2'), url('fonts/RobotoBold.woff') format('woff'), url('fonts/RobotoBold.ttf') format('truetype'), url('fonts/RobotoBold.svg#RobotoBold') format('svg');
}

@font-face
{
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;

    src: url('fonts/RobotoLight.eot');
    src: url('fonts/RobotoLight.eot') format('embedded-opentype'), url('fonts/RobotoLight.woff2') format('woff2'), url('fonts/RobotoLight.woff') format('woff'), url('fonts/RobotoLight.ttf') format('truetype'), url('fonts/RobotoLight.svg#RobotoLight') format('svg');
}

@font-face
{
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;

    src: url('fonts/RobotoMedium.eot');
    src: url('fonts/RobotoMedium.eot') format('embedded-opentype'), url('fonts/RobotoMedium.woff2') format('woff2'), url('fonts/RobotoMedium.woff') format('woff'), url('fonts/RobotoMedium.ttf') format('truetype'), url('fonts/RobotoMedium.svg#RobotoMedium') format('svg');
}

@font-face
{
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;

    src: url('fonts/RobotoRegular.eot');
    src: url('fonts/RobotoRegular.eot') format('embedded-opentype'), url('fonts/RobotoRegular.woff2') format('woff2'), url('fonts/RobotoRegular.woff') format('woff'), url('fonts/RobotoRegular.ttf') format('truetype'), url('fonts/RobotoRegular.svg#RobotoRegular') format('svg');
}

.js-call-popup
{
    cursor: pointer;
}

#js-popup-wrapper
{
    position: fixed;
    z-index: 24500;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 150%;

    background-color: rgba(0, 0, 0, .5);
}

.js-popup
{
    position: fixed;
    z-index: 24600;
    top: 50%;
    right: 0;
    left: 0;

    display: none;
    overflow-y: auto; 

    min-width: 380px;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    margin: 0 auto;
    padding: 0 !important;
}
@media screen and (max-width: 39.9375em)
{
    .js-popup
    {
        min-width: 100%; 

        background-color: white;
    }
}
.js-popup .js-popup-content
{
    overflow-y: auto;

    max-width: inherit;
    max-height: inherit;
    padding: 45px; 

    background-color: white;
}
@media screen and (max-width: 39.9375em)
{
    .js-popup .js-popup-content
    {
        margin-top: 48px;

        border-top: 1px solid #f3f3f3;
    }
}
.js-popup .js-popup-content h4
{
    font-size: 26px;
    font-weight: 600;
    line-height: 28px; 

    margin-bottom: 12px;

    text-align: center;
}
.js-popup .js-popup-content h4.left
{
    text-align: left;
}
.js-popup .js-popup-content p
{
    margin-bottom: 0; 

    text-align: center;
}
.js-popup .js-popup-content p.phone
{
    font-size: 30px;
}
.js-popup .js-popup-content button.js-popup-close
{
    display: block;

    margin: 0 auto;
    margin-top: 12px;
    padding: 17px 80px;
}
.js-popup .popup-close
{
    position: absolute;
    top: 5px;
    right: 5px; 

    display: block;
    float: right;

    width: 38px;
    height: 38px;

    cursor: pointer;

    background-image: url('images/ic-popup-close.png');
}
@media screen and (max-width: 39.9375em)
{
    .js-popup .popup-close
    {
        position: relative;
        top: 0;
        right: 0;

        width: 48px;
        height: 43px;

        background-color: white; 
        background-image: url('images/mobile-ic-popup-close.png');
        background-repeat: no-repeat;
        background-position: top right;
    }
}
.js-popup:after
{
    display: block;
    float: none;
    clear: both; 

    width: 100%;

    content: ' ';
}

form.js-design-labels
{
    margin-top: 20px;
}
form.js-design-labels fieldset
{
    position: relative;

    padding: 0; 

    border: none;
}
form.js-design-labels fieldset.focused label
{
    font-size: 12px;

    top: -16px;
    left: 0;
}
form.js-design-labels label
{
    font-size: 17px;

    position: absolute;
    top: 13px;
    left: 20px;

    -webkit-transition: all ease-in .2s;
            transition: all ease-in .2s;
}
form.js-design-labels input
{
    font-size: 17px;
    font-weight: 300;
    line-height: 1;

    display: block;

    width: 100%;
    height: 50px;
    padding: 16px 8px;

    -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;

    color: #212121;
    border: 1px solid #ebebeb; 
    -webkit-border-radius: 3px;
            border-radius: 3px;
    outline: 0;
    background: rgba(255, 255, 255, .97);
    background-color: #ebebeb;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
form.js-design-labels input:focus
{
    font-weight: 600; 

    border: 1px solid #ff4719;
    background-color: white;
}

.spr-man
{
    width: 44px;
    height: 44px; 

    background-image: url('images/sprite-icon.png');
    background-position: 0 0;
}

.spr-time
{
    width: 44px;
    height: 44px; 

    background-image: url('images/sprite-icon.png');
    background-position: 0 -44px;
}

.spr-doc
{
    width: 44px;
    height: 44px; 

    background-image: url('images/sprite-icon.png');
    background-position: 0 -88px;
}

.spr-star
{
    width: 44px;
    height: 44px; 

    background-image: url('images/sprite-icon.png');
    background-position: 0 -132px;
}

h1
{
    margin-bottom: 16px; 

    text-align: center;

    color: white;
}
@media only screen and (max-width: 1240px) and (min-width: 1024px)
{
    h1
    {
        font-size: 44px;
    }
}

h2
{
    text-align: center; 

    color: white;
}
@media only screen and (max-width: 1240px) and (min-width: 1024px)
{
    h2
    {
        font-size: 24px;
    }
}
h2 span
{
    display: inline-block;

    height: 40px;

    background-image: url(/local/templates/.default/images/underscore.png);
    background-repeat: no-repeat;
    background-position: 0 bottom;
}
@media screen and (min-width: 40em) and (max-width: 63.9375em)
{
    h2 span
    {
        height: 34px;
    }
}
@media screen and (max-width: 39.9375em)
{
    h2 span
    {
        height: 31px;
    }
}

h3
{
    font-weight: 300; 

    margin-bottom: 33px;
    padding-top: 71px;

    color: #324375;
}
@media screen and (max-width: 39.9375em)
{
    h3
    {
        margin-bottom: 14px; 
        padding-top: 58px;
    }
}

h4
{
    font-weight: 500;
}

ul
{
    list-style-position: outside; 
    list-style-image: url('images/ic-bullet.png');
}
ul li
{
    font-size: 18px;
    font-weight: 300; 
    line-height: 26px;

    padding-bottom: 10px;
}

button.link-blue
{
    font-size: 14px;

    display: block;

    color: #324375;
    border-bottom: 1px dashed #98a1ba;
    outline: none; 
    background-color: transparent;
}
button.link-blue:hover
{
    color: black; 
    border: none;
}

button.link-orange
{
    font-size: 14px;

    display: block;

    color: #ff4719;
    border-bottom: 1px dashed #ffa38c;
    outline: none; 
    background-color: transparent;
}

button.btn-orange
{
    font-size: 16px;

    padding: 17px 50px; 

    color: white;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    background-color: #ff5b19;
}
button.btn-orange:hover
{
    background-color: #ff510b;
}

button.orange-full
{
    font-size: 27px;
    line-height: 64px;

    width: 100%;

    -webkit-transition: all .2s;
            transition: all .2s; 

    color: white;
    border: 2px solid white;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    outline: none;
    background-color: #ff5b19;
    -webkit-box-shadow: 0 19px 20px -10px rgba(0, 0, 0, .32);
            box-shadow: 0 19px 20px -10px rgba(0, 0, 0, .32);
}
button.orange-full:hover
{
    background-color: #ff510b;
}

.form-big-box .form-big-content
{
    width: 100%;
}
.form-big-box .form-big-content:after
{
    display: block;
    clear: both; 

    width: 100%;

    content: '';
}
.form-big-box .form-big-content fieldset
{
    float: left;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    /*fix for  buggy browsers*/
    width: 28%;
    min-width: 280px;
    margin: 0;
    margin-bottom: 32px;
    padding-right: 20px;

    border: none;
}
@media screen and (max-width: 39.9375em)
{
    .form-big-box .form-big-content fieldset
    {
        width: 100%;
        min-width: 100px; 
        padding-right: 0;
    }
}
@media screen and (min-width: 40em) and (max-width: 63.9375em)
{
    .form-big-box .form-big-content fieldset
    {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        width: 50%;
        min-width: 210px; 
        margin-right: 0;
        margin-left: 0;

        border: none;
    }
    .form-big-box .form-big-content fieldset:nth-child(2n-1)
    {
        padding-right: 24px;
    }
}
@media only screen and (max-width: 1240px) and (min-width: 1024px)
{
    .form-big-box .form-big-content fieldset
    {
        width: 33%;
    }
    .form-big-box .form-big-content fieldset button
    {
        width: 100%;
    }
}
.form-big-box .form-big-content fieldset.submit-zone
{
    width: 40%;
    margin-right: 0;
    margin-bottom: 0;
}
@media screen and (max-width: 39.9375em)
{
    .form-big-box .form-big-content fieldset.submit-zone
    {
        width: 100%;
        margin-bottom: 0;
    }
}
@media screen and (min-width: 40em) and (max-width: 63.9375em)
{
    .form-big-box .form-big-content fieldset.submit-zone
    {
        width: 50%;
        margin-bottom: 0;
    }
    .form-big-box .form-big-content fieldset.submit-zone button
    {
        float: none; 

        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        width: 100%;
    }
    .form-big-box .form-big-content fieldset.submit-zone p
    {
        float: none; 

        width: 100%;
        margin-top: 55px;
    }
}
@media only screen and (max-width: 1240px) and (min-width: 1024px)
{
    .form-big-box .form-big-content fieldset.submit-zone
    {
        width: 33%;
        margin-bottom: 0;
    }
    .form-big-box .form-big-content fieldset.submit-zone p
    {
        padding-top: 60px;
    }
}
.form-big-box .form-big-content fieldset.submit-zone button
{
    float: left;

    margin-right: 15px;
}
@media screen and (max-width: 39.9375em)
{
    .form-big-box .form-big-content fieldset.submit-zone button
    {
        float: none;

        width: 100%; 
        margin-right: 0;
    }
}
.form-big-box .form-big-content fieldset.submit-zone p
{
    font-size: 16px;
    font-weight: 300;
}
@media screen and (max-width: 39.9375em)
{
    .form-big-box .form-big-content fieldset.submit-zone p
    {
        margin-top: 12px;

        text-align: center;
    }
}
.form-big-box .form-big-content fieldset input
{
    width: 100%;
}
@media screen and (max-width: 39.9375em)
{
    .form-big-box .form-big-content fieldset input
    {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box; 
        width: 100%;
    }
}
@media screen and (min-width: 40em) and (max-width: 63.9375em)
{
    .form-big-box .form-big-content fieldset input
    {
        width: 100%;
    }
}

#popup-tell-my
{
    width: 380px;
}
@media screen and (max-width: 39.9375em)
{
    #popup-tell-my
    {
        width: 100%;
    }
}

.form-tell-my-content
{
    width: 100%;
}
.form-tell-my-content:after
{
    display: block;
    clear: both; 

    width: 100%;

    content: '';
}
.form-tell-my-content fieldset
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    min-width: 280px;
    margin: 0;
    margin-bottom: 28px;
    padding-right: 20px;

    border: none;
}
.form-tell-my-content fieldset.submit-zone
{
    width: 100%;
    margin-bottom: 0;
}
.form-tell-my-content fieldset.submit-zone button
{
    display: block;

    margin: 0 auto;
    padding: 17px 70px;
}
.form-tell-my-content fieldset.submit-zone p
{
    font-size: 16px;
    font-weight: 300;
}
@media screen and (max-width: 39.9375em)
{
    .form-tell-my-content fieldset.submit-zone p
    {
        margin-top: 12px;

        text-align: center;
    }
}
.form-tell-my-content fieldset input
{
    width: 100%;
}

.js-popup#popup-order
{
    min-width: 640px;
}
@media screen and (max-width: 39.9375em)
{
    .js-popup#popup-order
    {
        min-width: 100%;
    }
}

.js-popup#popup-thank
{
    width: 400px; 
    max-width: 400px;
}
@media screen and (max-width: 39.9375em)
{
    .js-popup#popup-thank
    {
        width: 100%;
        max-width: 100%;
    }
}

.form-big-content-popup
{
    width: 100%;
}
.form-big-content-popup:after
{
    display: block;
    clear: both; 

    width: 100%;

    content: '';
}
.form-big-content-popup fieldset
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    margin-bottom: 24px; 
    padding-right: 20px;

    border: none;
}
.form-big-content-popup fieldset:nth-child(2n-1)
{
    padding-right: 24px;
}
@media screen and (max-width: 39.9375em)
{
    .form-big-content-popup fieldset:nth-child(2n-1)
    {
        padding-right: 0;
    }
}
.form-big-content-popup fieldset.full
{
    padding-right: 0;
}
.form-big-content-popup fieldset button
{
    float: left;

    width: 100%;
    margin-right: 15px;
}
.form-big-content-popup fieldset p
{
    font-size: 16px;
    font-weight: 300;

    padding-left: 12px;

    text-align: left !important;
}
.form-big-content-popup fieldset input
{
    width: 100%;
}

.menu-fixed
{
    position: fixed;
    z-index: 800;
    top: 0;
    left: 0;

    width: 100%;
    height: 89px; 

    background-color: white;
    -webkit-box-shadow: 0 7px 14px -5px rgba(0, 0, 0, .14);
            box-shadow: 0 7px 14px -5px rgba(0, 0, 0, .14);
}
@media screen and (max-width: 39.9375em)
{
    .menu-fixed
    {
        height: 50px;
    }
}
.menu-fixed .logo
{
    float: left; 

    min-width: 172px;
    padding-top: 11px;
}
@media screen and (max-width: 39.9375em)
{
    .menu-fixed .logo
    {
        display: none;

        width: 86px;
        min-width: 86px;
    }
}
.menu-fixed .logo-mobile
{
    display: none;

    width: 100px;
    padding-top: 10px;
}
@media screen and (max-width: 39.9375em)
{
    .menu-fixed .logo-mobile
    {
        display: block;
    }
}
.menu-fixed nav
{
    float: left; 

    padding-top: 32px;
    padding-left: 12px;
}
@media only screen and (max-width: 1240px) and (min-width: 1024px)
{
    .menu-fixed nav
    {
        padding-left: 6px;
    }
}
@media screen and (min-width: 40em) and (max-width: 63.9375em)
{
    .menu-fixed nav
    {
        display: none;
    }
}
@media screen and (max-width: 39.9375em)
{
    .menu-fixed nav
    {
        display: none;
    }
}
.menu-fixed nav a
{
    font-size: 16px;

    margin: 0 9px;

    border-bottom: 1px dashed #98a1ba;
}
@media only screen and (max-width: 1240px) and (min-width: 1024px)
{
    .menu-fixed nav a
    {
        font-size: 14px;

        margin: 0 5px;
    }
}
.menu-fixed nav a:hover
{
    color: black;
    border-bottom: none;
}
.menu-fixed nav a:active
{
    color: #ff5b19;
}
.menu-fixed nav a:first-child
{
    margin-left: 0;
}
.menu-fixed nav a:last-child
{
    margin-right: 0;
}
.menu-fixed .menu-fixed-working-hours
{
    float: right;

    padding-top: 21px;
    padding-right: 36px;

    text-align: right;
}
@media screen and (max-width: 39.9375em)
{
    .menu-fixed .menu-fixed-working-hours
    {
        display: none;
    }
}
.menu-fixed .menu-fixed-working-hours p
{
    display: table;

    width: 100%;
    height: 21px;
    margin-bottom: 8px;
}
.menu-fixed .menu-fixed-working-hours p span
{
    font-size: 14px;
    line-height: 14px; 

    display: table-cell;

    text-align: right;
    vertical-align: bottom;
}
.menu-fixed .menu-fixed-phone
{
    float: right;

    padding-top: 21px;

    text-align: right;
}
@media screen and (max-width: 39.9375em)
{
    .menu-fixed .menu-fixed-phone
    {
        padding-top: 16px;
    }
}
.menu-fixed .menu-fixed-phone p
{
    display: table;

    width: 100%;
    height: 21px;
    margin-bottom: 8px;
}
.menu-fixed .menu-fixed-phone p span
{
    font-size: 21px;
    font-weight: bold; 
    line-height: 21px;

    display: table-cell;

    text-align: right;
    vertical-align: bottom;
}
.menu-fixed .menu-fixed-phone p span a
{
    font-size: 21px !important;

    text-decoration: none !important; 

    color: #0a0a0a !important;
}
@media screen and (max-width: 39.9375em)
{
    .menu-fixed .menu-fixed-phone button
    {
        display: none;
    }
}

.first-screen
{
    padding-top: 163px; 

    background-image: url('images/bg-first-screen.jpg');
    background-position: top center;
}
@media screen and (max-width: 39.9375em)
{
    .first-screen
    {
        padding-top: 90px; 

        background-image: url('images/mobile-bg-first-screen.jpg');
    }
}

.first-screen-headlines
{
    padding-bottom: 36px;
}
@media screen and (min-width: 40em) and (max-width: 63.9375em)
{
    .first-screen-headlines
    {
        padding-bottom: 12px;
    }
}
@media screen and (max-width: 39.9375em)
{
    .first-screen-headlines
    {
        padding-bottom: 12px;
    }
}

.first-screen-order
{
    padding-bottom: 54px;
}
.first-screen-order p
{
    font-size: 16px;
    line-height: 21px;

    margin-bottom: 0; 
    padding-top: 13px;

    color: white;
}

.advantages-box
{
    width: 100%;
}
.advantages-box.blue-bk
{
    background-color: rgba(33, 47, 80, .7);
}
.advantages-box .column:not(.row),
.advantages-box .columns:not(.row)
{
    padding-top: 54px;
    padding-bottom: 34px;
}
.advantages-box p
{
    font-size: 18px;
    font-weight: 600;
    line-height: 22px; 

    margin-bottom: 0;

    white-space: nowrap;

    color: white;
}
.advantages-box span
{
    font-size: 16px;
    font-weight: normal; 

    color: white;
}
.advantages-box .icon
{
    float: left;

    margin-right: 16px;
}

.flex-advantages-container
{
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display:         inline-flex;

    width: 100%;

    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
}
@media screen and (min-width: 40em) and (max-width: 63.9375em)
{
    .flex-advantages-container
    {
        display: block;

        width: 550px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 39.9375em)
{
    .flex-advantages-container
    {
        display: block;

        width: 100%;
        padding-top: 12px;
        padding-bottom: 12px;
    }
}
.flex-advantages-container .inner-flex
{
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display:         inline-flex;

    padding-top: 32px;
    padding-bottom: 32px; 

    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
@media screen and (min-width: 40em) and (max-width: 63.9375em)
{
    .flex-advantages-container .inner-flex
    {
        display: block;
        float: left;

        width: 330px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .flex-advantages-container .inner-flex.small
    {
        width: 215px;
    }
}
@media screen and (max-width: 39.9375em)
{
    .flex-advantages-container .inner-flex
    {
        display: block;

        width: 290px;
        margin: 0 auto;
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.stages-screen .stages-box .column,
.stages-screen .stages-box .columns
{
    padding-bottom: 24px; 
    padding-left: 0;
}

.stages-screen .stages-box p
{
    font-size: 16px;
    line-height: 22px;
}

.blue-border
{
    padding: 14px !important;

    border: 2px solid #0054a6;
    -webkit-box-shadow: 0 19px 20px -10px rgba(198, 93, 56, .39);
            box-shadow: 0 19px 20px -10px rgba(198, 93, 56, .39);
}

.tariff-starting-screen
{
    margin-bottom: 117px;
}
@media screen and (min-width: 40em) and (max-width: 63.9375em)
{
    .tariff-starting-screen
    {
        margin-bottom: 68px;
    }
}
@media screen and (max-width: 39.9375em)
{
    .tariff-starting-screen
    {
        margin-bottom: 32px;
    }
}
.tariff-starting-screen h4.descr
{
    font-size: 21px;
    font-weight: 300; 
    line-height: 28px;
}
.tariff-starting-screen h4.descr span
{
    display: inline-block;

    padding: 2px 7px;

    color: white;
    -webkit-border-radius: 3px;
            border-radius: 3px; 
    background-color: #ff5b19;
}
.tariff-starting-screen h5
{
    font-size: 16px;
    font-weight: 300; 
    line-height: 16px;
}
.tariff-starting-screen .tariff-starting-info-screen
{
    margin-top: 24px;
}
.tariff-starting-screen .tariff-starting-info-screen h4
{
    font-size: 29px;
    line-height: 29px;
}

.form-big-screen
{
    /* IE6-9 fallback on horizontal gradient */
    padding-bottom: 83px; 

    background: #2b5677;
    /* Old browsers */
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #2b5677 10%, #2980b9 90%);
    /* Chrome10-25,Safari5.1-6 */
    background:         linear-gradient(45deg, #2b5677 10%, #2980b9 90%);
    background-color: #2b5677;
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b5677', endColorstr='#2980b9', GradientType=1);
}
.form-big-screen h3
{
    margin-bottom: 0; 
    padding-top: 83px;

    color: white;
}
@media screen and (min-width: 40em) and (max-width: 63.9375em)
{
    .form-big-screen h3
    {
        padding-top: 48px;
    }
}
@media screen and (max-width: 39.9375em)
{
    .form-big-screen h3
    {
        padding-top: 24px;
    }
}
.form-big-screen .form-big-box
{
    margin-top: 12px; 
    padding: 40px;
    padding-right: 0;
    padding-bottom: 20px;

    -webkit-border-radius: 3px;
            border-radius: 3px;
    background-color: white;
    -webkit-box-shadow: 0 19px 20px -10px rgba(0, 0, 0, .32);
            box-shadow: 0 19px 20px -10px rgba(0, 0, 0, .32);
}
@media screen and (max-width: 39.9375em)
{
    .form-big-screen .form-big-box
    {
        padding: 12px;
    }
}
@media screen and (min-width: 40em) and (max-width: 63.9375em)
{
    .form-big-screen .form-big-box
    {
        padding: 24px;
    }
}
.form-big-screen .form-big-box h4
{
    font-size: 26px;
    font-weight: 600; 

    margin-bottom: 28px;
}
.form-big-screen .form-big-box h4 span
{
    display: inline-block;

    padding: 2px 7px;

    color: white;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    background-color: #ff5b19;
}
@media screen and (max-width: 39.9375em)
{
    .form-big-screen .form-big-box h4 span
    {
        height: 40px;
        padding: 0;

        color: black;
        background-color: transparent;
        background-image: url('images/underscore.png');
        background-repeat: no-repeat;
        background-position: 0 bottom;
    }
}
